<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Main Suite">
    <test name="Smoke">
        <classes>
            <class name="tests.AddProjectTest">
                <methods>
                    <include name="createProjectSuccessTest"/>
                    <include name="uploadTest"/>
                    <include name="deleteProjectTest"/>
                </methods>
            </class>
            <class name="tests.LoginTest">
                <methods>
                    <include name="successLoginTest1"/>
                    <include name="successLoginTest"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="Regression">
        <classes>
            <class name="tests.LoginTest">
              <methods>
                  <include name="successLoginTest"/>
                  <include name="incorrectUsernameTest"/>
                  <include name="success"/>
              </methods>
            </class>
            <class name="tests.AddProjectTest">
                <methods>
                    <include name="maxLengthProjectNameFieldTest"/>
                    <include name="createProjectFailureTest"/>
                    <include name="dialogWindowTest"/>
                    <include name="dialogWindowTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>